# ls() { command ls -F --group-directories-first "$@" }
alias lsa='ls -a'
alias l='ls -1'
alias la='ls -1a'
alias ga='git add'
alias gc='git commit'
alias gs='git status'
alias gp='gpush'
alias p='cd ~/projects'
alias c:='cd /mnt/c/Users/rjm'
alias c='cd && ls -a'
alias n='nvim'
alias cdls='cd && ls'
alias cdlsa='cd && ls -a'
alias run='source ./run.sh'
