# ls() { command ls -F --group-directories-first "$@" }
alias l='ls -1'
alias la='ls -1a'
alias ga='git add'
alias gc='git commit'
alias gs='git status'
alias gp='gpush'
alias p='cd ~/projects'
alias c='cd && ls -a'
