[init]
	defaultBranch = main
[user]
	email = robjmass@gmail.com
	name = rjm
[credential]
	helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[http]
	postBuffer = 524288000
